body{
    
    background-color:rgb(104, 102, 101);
    }
    div{
    
    text-align:center;
    }
    td{
    
    text-align: center;
    border: 1px solid black;
    position:relative;
    background-color:gray;
    
    }
    th{
    
    text-align: center;
    color: rgb(240, 230, 230);
    border: 1px solid black;
    position:relative;
    background-color:black;
    
    }
    table{
    
    border: 7px solid black;
    width:auto;
    position:relative;
    margin-left:"150px";
    margin: 0 auto;
    }